.vitepress/cache
node_modules/
dist/
.eslintcache
.prettiercache
.env
.env.*
*.sh
*.py
*.cmd
*.map
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-lock.yaml
pnpm-debug.log*
.local-registry
.git
.DS_Store
.env
.env.*
*.pdb